<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Sidebar/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookStore.styles.css" asp-append-version="true" />
</head>
<body>
    @if (TempData["Success"] != null)
    {
        <div class="d-flex flex-column align-items-center">
            <div id="mensagem-sucesso" class="alert alert-success text-center mt-3" style="position:absolute">@TempData["Success"]</div>
        </div>
    }

    @if (BookStore.Utils.ClienteInSession.UsuarioAutenticado != null)
    {
        <div class="d-flex flex-row h-100 w-100">
            <aside class="sidebar">
                <div class="sidebar-header">
                    <img src="~/img/sorvil-logo.png" class="sidebar-header-logo"/>
                    <span class="sidebar-header-text">S O R V I L</span>
                </div>
                <div class="sidebar-profile">
                    <div>
                        <img src="@((!String.IsNullOrEmpty(BookStore.Utils.ClienteInSession.UsuarioAutenticado.ImagemUsuario)) ? "data:image;base64," + BookStore.Utils.ClienteInSession.UsuarioAutenticado.ImagemUsuario : "/img/book-empty.jpg")" class="sidebar-profile-avatar" />
                    </div>
                    <div class="sidebar-profile-info">
                        <span class="sidebar-profile-info-boas-vindas">Seja bem-vindo,</span>
                        <span>@BookStore.Utils.ClienteInSession.UsuarioAutenticado.Nome</span>
                        <span>@BookStore.Utils.ClienteInSession.UsuarioAutenticado.Sobrenome</span>
                    </div>
                </div>
                <div class="sidebar-items">
                    <button class="sidebar-btn-green" onclick="location.href='@Url.Action("Index","Home")'">HOME</button>
                    <button class="sidebar-btn-green" onclick="location.href='@Url.Action("Index","BuscarLivros")'">BUSCAR LIVROS</button>
                    <button class="sidebar-btn-green" onclick="location.href='@Url.Action("Index","Configuracoes")'">CONFIGURAÇÕES</button>
                </div>
                    
                <div class="sidebar-exit">
                    <button class="sidebar-btn-grey" onclick="location.href='@Url.Action("Logout","Home")'">SAÍDA</button>
                </div>
            </aside>

            <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100 mt-2">
                <div class="home-card">
                    <div class="home-card-title">
                        @ViewData["CardTitle"]
                    </div>
                    <div class="w-100 h-100 m-2">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @RenderBody()

    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
